<!DOCTYPE html>
<html lang="en" xmnls:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="com.teilaen.demopetclinic.model.Owner"*/-->
    <h1>List of Owners</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>

        </tr>
        <tr th:each="owner: ${owners}">
            <td th:text="${owner?.id}">123</td>
            <td th:text="${owner?.firstName}">Spring In Action</td>
            <td th:text="${owner?.lastName}">Spring In Action</td>

        </tr>
    </table>
</body>
</html>